*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #fdf1f9;
}

.container{
    max-width: 600px;
    margin: 300px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1rem;
}

button{
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

p{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}